---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import axios from 'axios'

var auth = `Bot ${import.meta.env.PUBLIC_AUTH_TOKEN}`

var avatar = ""
var banner = ""
var accent = ""
var data = {}

await axios.get('https://discord.com/api/users/576470929874616330', {
    withCredentials: true,
    headers: {authorization: auth}
})
.then((datares) => {
	data = datares.data
	console.log(data)
	accent = datares.data.banner_color
	avatar = `https://cdn.discordapp.com/avatars/576470929874616330/${datares.data.avatar}.gif?size=128`
	banner = `https://cdn.discordapp.com/banners/576470929874616330/${datares.data.banner}.gif?size=4096`
})


---

<Layout title="Based">
	<main>
		<h1 class="center">My name is {data.username}#<span class="text-gradient">{data.discriminator}</span>!</h1>
		<div class="container">
			<img style="" src={banner} alt="Thingymabob">
			<div class=" tag image-cropper">
				<img class="rounded" src={avatar} alt="where my newest Discord PFP would be">
			</div>
		</div>
		<p class="center"><span class="small-text">(PFP, banner and tag should automatically update)</span></p>
		<p class="text-block">
			I am a <code>programmer</code>, I can use:<br>
			Javascript (Nodejs, Discord.js), Python, Java, C#, Lua, MongoDB, SQL and more!<br> <br>
			I'd like to thing I can code well in most high-level backend languages (or at least learn them quickly)<br><br>
			Im currently learning frontend, such as Astro (The thing I made this page with!)
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.youtube.com/channel/UCLhY1CkcuaoBRmJWO5HLCKg"
				title="Youtube"
				body="Not much here, *yet*. In the future I may make coding tutorials, so keep an eye out for that"
			/>
			<Card
				href="https://github.com/krazyunderground"
				title="Github"
				body="This is where I will upload most of my future projects for others to use"
			/>
			<Card
				href="https://discord.gg/nkQ2bzMfKH"
				title="Shard"
				body="Staff manager in a discord server about helping with (and commisioning) coding work!"
			/>
		</ul>
		<p class="center"><span class="text-gradient">Thanks for taking the time to read this!</span> 👋</p>
	</main>
</Layout>

<style define:vars={accent}>
	:root {
		--astro-gradient: linear-gradient(15deg, #0D2125, #f90404);
	}

	h1 {
		margin: 2rem 0;
		font-size: 40px;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 5s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 100%;
		}
	}

	.text-block {
		line-height: 1.6;
		margin: 1rem 0;
		background: var(--astro-gradient);
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.text-block code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	
	.center {
		text-align: center;
	}

	.image-cropper {
		margin: auto;
		width: 128px;
		height: 128px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
	}

	.rounded {
		display: inline;
		margin: auto;
		height: 100%;
		width: auto;
	}
	
	.small-text {
		font-size: small;
	}

	.container {
		margin: auto;
        width: 500px;
        height: 200px;
        position: relative;
	}

	.tag {
		float: left;
		position: absolute;
		left: 186px;
		top: 36px;
		z-index: 1000;
		background-color: #92AD40;
		color: #FFFFFF;
		font-weight: bold;
    }
</style>
